{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock %}
{% block page_title %}{{ blog.titulo_blog }}{% endblock page_title %}
{% block page_subtitle %}{{ blog.subtitulo_blog }}{% endblock page_subtitle %}
{% if blog.bg_blog %}
    {% block header_img %}{{ blog.bg_blog.url }}{% endblock header_img %}
{% endif %}

{% block content %}
{% for post in postagens %}
<div class="post-preview">
    <a href="{% url 'post' post.id %}">
        <h2 class="post-title">{{ post.titulo }}</h2>
        <h3 class="post-subtitle">{{ post.subtitulo }}</h3>
    </a>
    <p class="post-meta">
        Postado por
        <a href="#!">{{ post.autor }}</a>
        em {{ post.criado_em }}.
    </p>
    <a href="#" class="btn btn-primary">Editar</a>
    <a href="#" class="btn btn-danger">Remover</a>
</div>
<!-- Divider-->
<hr class="my-4" />
{% endfor %}
<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
{% endblock %}
